
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:-webkit-repeating-linear-gradient(#E0DBFF,  #f0fae5,#FBE4FF, #f0c87d, #f8e3e3, #FFFFFF,#FFFFFF)
}
/* animation for the text  style*/
@keyframes slide {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.animate-text-slide {
  animation: slide 6s linear infinite;
} 

  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-icon-slide .icon {
    animation: slideIn 0.5s forwards;
  }
  
  
  



  