
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: repeating-linear-gradient( #E0DBFF, #E2FFBE, #FBE4FF,#FFC5A5, #FFE5E5, #FFFFFF);
    font-family: 'Poppins', sans-serif;
}
/* animation style*/
@keyframes slide {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-text-slide {
    animation: slide 3s infinite;
    
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-icon-slide {
    display: flex;
    animation: slideInFromRight 0.5ms ease-out forwards;
  }
  
  
  



  